.DS_Store

# Docs
public

# JS
node_modules
.eslintcache
tsconfig.tsbuildinfo

# JS CLI
js/cli/proton-drive
auth.txt
cache*.sqlite
*.log
*.bun-build

# Tests
tests/storage

# Test reporter
tests/test-results
